<!doctype html>
<html>
	<head>
		<title>REGISTER</title>
	</head>
	<body>
		<h2>Registration Form</h2>
		<form action="register" method="post">
			<label for="username">Username:</label><br>
			<input type="text" id="username" name="username" required><br><br>
			
			<label for="email">Email:</label><br>
			<input type="email" id="email" name="email" required><br><br>
			
			<label for="password">Password:</label><br>
			<input type="password" id="password" name="password" required><br><br>
			
			<label>Gender:</label><br>
			Male<input type="radio" name="gender" value="male">
			Female<input type="radio" name="gender" value="female">
			Other<input type="radio" name="gender" value="other"><br><br>
			
			<label>Role:</label><br>
			Admin<input type="radio" name="role" value="admin">
			Customer<input type="radio" name="role" value="customer"><br><br>
			
			<label>Address:</label><br>
			<textarea name="address"></textarea><br><br>
			
			<input type="submit" value="Submit">
		</form>
	</body>
</html>